{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}">
        <title>{% block title%} Django {% endblock title%}</title>
        {% block head_meta %} {% endblock head_meta %}
        {% block head_style %} {% endblock head_style %}
        {% block head_js %} {% endblock head_js %}
        {% block head_scripts %} {% endblock head_scripts %}
    </head>
    <body>
        {% block content %} {% endblock content %} 
        {% block footer_js %} {% endblock footer_js %}
        {% block footer_scripts %} {% endblock footer_scripts %}
    </body>
</html>
